$regular = 'RobotoRegular'
$bold    = 'Robotobold'
$medium  = 'RobotoMedium'
$default = #4FC0A6;
$volumen = #634A67;
$valor   = #F69779;

transform()
	-webkit-transform: translate(-50%,-50%)
    -moz-transform: translate(-50%,-50%)
    -ms-transform: translate(-50%,-50%)
	-o-transform: translate(-50%,-50%)
	transform: translate(-50%,-50%)
	
transformTransition()
	-webkit-transition: transform .2s linear
	-moz-transition: transform .2s linear
	-ms-transition: transform .2s linear
	-o-transition: transform .2s linear
	transition: transform .2s linear

widthTransition()
	-webkit-transition: max-width .2s linear
	-moz-transition: max-width .2s linear
	-ms-transition: max-width .2s linear
	-o-transition: max-width .2s linear
	transition: max-width .2s linear
	
center()
	position: absolute
	top: 50%
	left: 50%
	width: 100%
	margin: auto
	transform()
	transformTransition()

body
	margin 0
	padding 0
	overflow hidden
	overflow-y scroll
	font-family $regular

.section
	position relative
	padding 20px
	
.center-login
	center()
	max-width: 360px
	
	